**/.DS_Store
**/*.swp
**/*.swo
*/lib/**
*/bin/**
**/etc/**
**/config.yml
*/serverextension/build/
*/serverextension/dist/
*/serverextension/prompter.egg-info/
**/__pycache__
share/**
pyvenv.cfg
*.ipynb
package-lock.json
**/yarn.lock
**/tsconfig.tsbuildinfo
venv/
jupyter_note_book_plugin/evaluation_task/*
