.jp-PromptArea-child {
  flex-direction: column;
}

textarea {
  width: 70%;
  height: auto;
}

.jp-prompt-input-button {
  background-color: var(--jp-warn-color0);
  border-radius: 12px;
}

.jp-PromptArea {
  border : 3px solid var(--jp-warn-color0);
  display : flex;
  flex-direction : row;
}

.jp-PromptArea-spacer {
  flex : 0.005 15px;
}

.jp-PromptArea-Prompt {
  flex : 9;
  flex-direction : column;
}

.prompt-ml-container {
  overflow-y: scroll;
}

.prompt-ml-container > * {
  padding-top: 8px;
}

#jp-right-stack > .lm-Widget, .prompt-ml-container {
  min-width: 250px !important;
}

/* Notifier area content */

/* Svg styling (paths, etc.) */

.cls-1 {
  fill: none;
  stroke-width: 2px;
}

.cls-1, .cls-2, .cls-3 {
  stroke: #0e0f10;
  stroke-linecap: round;
}

.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-2, .cls-3 {
  fill: #0e0f10;
  stroke-width: 1px;
}

.cls-4 {
  fill: none;
  stroke: #0e0f10;
  stroke-width: 25px;
  fill-rule: evenodd;
}

.cls-5 {
  fill: none;
}

.cls-5, .cls-6 {
  stroke: #000;
  stroke-width: 25px;
  fill-rule: evenodd;
}

.cls-6 {
  fill: transparent;
}

/*  Side-column note styling  */

.note {
  display: grid;
  grid-template-rows: auto auto;
  border-radius: 35px;
}


.note h1 {
  font-weight: 600;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  text-align: center;
}

.note {
  padding: 0px 10px;
  min-width: 100px;
  margin: 10px;
  background-color: #F0B744;
  overflow-x: hidden;
}

.note.condensed .essential .dropDown p {
  transform: rotate(0deg) translate(-50%, -50%);
}

.note .essential .dropDown p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note .essential .dropDown {
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

.note .essential .text {
  height: 100%;
  width: 100%;
}

.note .essential > * {
  position: relative;
}

.note .essential > .dropDown > *, .note .essential > .warning > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.note .essential {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr;
  border-radius: 35px;
}

.note .essential > * {
  grid-row: 1 / 2;
}

.note .essential .dropDown {
  grid-column: 1 / 2;
}

.note .essential .text {
  grid-column: 2 / 3;
}

.note .essential .warning {
  position: relative;
  grid-column: 3  / 4;
}

.note .essential svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 65%;
}

/* Svg to handle note closing */

.prompt-ml-close-svg-path {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 25px;
  fill-rule: evenodd;
}

.close svg {
  width: 80%;
  min-width: 25px;
  max-height: 60%;
}

svg.expanded, svg.condensed {
  width: 100%;
  min-width: 20px;
}

.note p {
  font-size: 14px;
  padding: 10px;
}

.note .content p {
  margin: 0;
  padding: 0;
}

.note .content {
  padding: 10px;
}

.note .more {
  width: 100%;
}

.note h2 {
  padding: 5px;
  margin: 10px 0 0 0;
  border-radius: 35px;
  background-color: #F1A204;
  border: 1px solid black;
  text-align: center;
  font-size: 17px;
}

/* Revert <strong> elements back to normal settings within prompt-ml containers */
/* Jupyterlab by default reverts this value back to normal weight, so this ensures that it is actually bold */

.prompt-ml-container strong {
  font-weight: 600;
}

.prompt-ml-popup strong {
  font-weight: 600;
}

/* Dropdown from https://codepen.io/havardob/pen/KKqYGYj */

/* ================================================================================================ */
/* Needs refinement */


.promptMl.protectedColumns .intro p {
  padding: 15px;
}

.promptMl.protectedColumns fieldset {
border: none;
  color: white;
}

.promptMl.protectedColumns legend {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.promptMl.protectedColumns details {
  position: relative;
}

.promptMl.protectedColumns details summary.sensitive {
  background-color: #cc6864;
}

.promptMl.protectedColumns details summary.nonsensitive {
  background-color: #72bb79;
}

.promptMl.protectedColumns details summary {
  color: black;
  padding: 1rem;
  position: relative;
  padding-right: 3rem;
  cursor: pointer;
  list-style: none;
  border-radius: 25px;
}

.promptMl.protectedColumns details[open] {
  z-index: 4;
}

.promptMl.protectedColumns details[open] summary {
  z-index: 5;
}

.promptMl.protectedColumns details summary::-webkit-details-marker {
  display: none;
}

.promptMl.protectedColumns details summary i {
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  transform-origin: center center;
}

.promptMl.protectedColumns details[open]summary i {
  color: black;
  transform: scaleY(-1) translateY(50%);
}

.promptMl.protectedColumns details > div {
  background-color: #BBB;
  padding-top: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  margin-top: -25px;
  color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  position: absolute;
  left: 0;
  width: 90%;
}

.promptMl.protectedColumns details > div label {
  position: relative;
  cursor: pointer;
}

.promptMl.protectedColumns details > div input {
  -webkit-appearance: none;
  appearance: none;
  visibility: hidden;
  position: absolute;
}

.promptMl.protectedColumns details > div span:hover {
  background-color: #DDD;
}

.promptMl.protectedColumns details > div span {
  display: block;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 0.25rem;
}

.promptMl.protectedColumns details:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 4px;
  width: calc(100% - 16px);
  height: 50px;
  flex-shrink: 0;
  /* background-image: linear-gradient(to top, var(--c-blue-700), transparent); */
  border-radius: 8px;
  pointer-events: none;
  padding: 0 30px;
}

.promptMl.protectedColumns {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-rows: auto;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif
}

.promptMl.protectedColumns .intro {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.promptMl.protectedColumns .shadowDefault {
  background-color: #DDD;
  padding: 15px;
  border-radius: 35px;
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px,
              rgb(0 0 0 / 7%) 0px 2px 4px,
              rgb(0 0 0 / 7%) 0px 4px 8px,
              rgb(0 0 0 / 7%) 0px 8px 16px,
              rgb(0 0 0 / 7%) 0px 16px 32px,
              rgb(0 0 0 / 7%) 0px 32px 64px;
}

.promptMl.protectedColumns .df .shadow {
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px,
              rgb(0 0 0 / 7%) 0px 2px 4px,
              rgb(0 0 0 / 7%) 0px 4px 8px,
              rgb(0 0 0 / 7%) 0px 8px 16px,
              rgb(0 0 0 / 7%) 0px 16px 32px,
              rgb(0 0 0 / 7%) 0px 32px 64px;
}

.promptMl.protectedColumns .explorer .shadow {
  background-color: #DDD;
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px,
              rgb(0 0 0 / 7%) 0px 2px 4px,
              rgb(0 0 0 / 7%) 0px 4px 8px,
              rgb(0 0 0 / 7%) 0px 8px 16px,
              rgb(0 0 0 / 7%) 0px 16px 32px,
              rgb(0 0 0 / 7%) 0px 32px 64px;
}


.promptMl.protectedColumns .intro {
  display: grid;
  grid-column: 1fr fit-content;
  grid-gap: 10px;
}

.promptMl.protectedColumns .intro p {
  grid-column: 1 / 2;
  margin: 0;
}

.promptMl.protectedColumns .intro * {
  margin: 10px;
}

.promptMl.protectedColumns .sources a {
  text-decoration: none;
}

.promptMl.protectedColumns .sources h2 {
  font-size: 18px;
  margin: 5px;
}

.promptMl.protectedColumns .sources {
  grid-column: 2 / 3;
  width: fit-content;
  margin: 0;
  height: fit-content;
}

.promptMl.protectedColumns .sources .shadow {
  margin: 5px inherit;
  padding: 15px;
  border-radius: 35px;
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px,
              rgb(0 0 0 / 7%) 0px 2px 4px,
              rgb(0 0 0 / 7%) 0px 4px 8px,
              rgb(0 0 0 / 7%) 0px 8px 16px,
              rgb(0 0 0 / 7%) 0px 16px 32px,
              rgb(0 0 0 / 7%) 0px 32px 64px;
}

.promptMl.protectedColumns .dfs {
  margin-top: 30px;
}

.promptMl.protectedColumns .df {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

.promptMl.protectedColumns .df > h1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 10px;
}

.promptMl.sensitivity h3 {
  float:left;
}

.promptMl.protectedColumns h2 {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

.promptMl.protectedColumns h1 {
  font-size: 24px;
}

.promptMl .textAlignCenter {
  text-align: center;
}

.promptMl.protectedColumns .explorer h2 {
  margin-bottom: 10px;
}

.promptMl.protectedColumns .explorer h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.promptMl.protectedColumns .explorer p {
  font-size: 16px;
  font-weight: 400;
  margin: 5px;
}