.jp-PromptArea-child {
  flex-direction: column;
}

textarea {
  width: 70%;
  height: auto;
}

.jp-prompt-input-button {
  background-color: var(--jp-warn-color0);
  border-radius: 12px;
}

.jp-PromptArea {
  border : 3px solid var(--jp-warn-color0);
  display : flex;
  flex-direction : row;
}

.jp-PromptArea-spacer {
  flex : 0.005 15px;
}

.jp-PromptArea-Prompt {
  flex : 9;
  flex-direction : column;
}


