SECRET_KEY: ''

SQL:
    db: ''
    host: ''
    username: ''
    password: ''
    port: ''

SQL_TRACK_MODIFICATIONS: False
SQLALCHEMY_TRACK_MODIFICATIONS: False
HOSTNAME: 'http://127.0.0.1'
TESTING: True
IMAGE: 'gsamharrison/plugin-test:1.9.3'
